<a href="https://colab.research.google.com/github/sundarp17/Recommendation-Systems/blob/main/recommendations_based_on_correlation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Item-Based

In [1]:
import numpy as np
import pandas as pd

In [3]:
frame = pd.read_csv(r'/content/rating_final.csv')
cuisine = pd.read_csv(r'/content/chefmozcuisine.csv')
geodata = pd.read_csv(r'/content/geoplaces2.csv',encoding='gbk')

In [4]:
frame.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [5]:
cuisine.head()

   placeID        Rcuisine
0   135110         Spanish
1   135109         Italian
2   135107  Latin_American
3   135106         Mexican
4   135105       Fast_Food

In [6]:
geodata.head()

   placeID   latitude   longitude  ... franchise    area other_services
0   134999  18.915421  -99.184871  ...         f  closed           none
1   132825  22.147392 -100.983092  ...         f    open           none
2   135106  22.149709 -100.976093  ...         f    open           none
3   132667  23.752697  -99.163359  ...         t  closed           none
4   132613  23.752903  -99.165076  ...         t  closed           none

[5 rows x 21 columns]

In [7]:
places = geodata[['placeID','name']]
places.head()

   placeID                            name
0   134999                 Kiku Cuernavaca
1   132825                 puesto de tacos
2   135106       El Rinc髇 de San Francisco
3   132667  little pizza Emilio Portes Gil
4   132613                   carnitas_mata

Grouping and ranking

In [8]:
rating = pd.DataFrame(frame.groupby('placeID')['rating'].mean())
rating.head()

         rating
placeID
132560     0.50
132561     0.75
132564     1.25
132572     1.00
132583     1.00

In [9]:
rating['rating_count'] = pd.DataFrame(frame.groupby('placeID')['rating'].count())
rating.head()

         rating  rating_count
placeID
132560     0.50             4
132561     0.75             4
132564     1.25             4
132572     1.00            15
132583     1.00             4

In [10]:
rating.describe()

           rating  rating_count
count  130.000000    130.000000
mean     1.179622      8.930769
std      0.349354      6.124279
min      0.250000      3.000000
25%      1.000000      5.000000
50%      1.181818      7.000000
75%      1.400000     11.000000
max      2.000000     36.000000

In [11]:
rating.sort_values('rating_count',ascending=False).head()

           rating  rating_count
placeID
135085   1.333333            36
132825   1.281250            32
135032   1.178571            28
135052   1.280000            25
132834   1.000000            25

getting the name of the place with highest number of ratings

In [12]:
places[places['placeID']==135085]

     placeID                    name
121   135085  Tortas Locas Hipocampo

type of cuisine place 135085 serves

In [13]:
cuisine[cuisine['placeID']==135085]

    placeID   Rcuisine
44   135085  Fast_Food

**Preparing Data for Analysis**

In [14]:
places_crosstab = pd.pivot_table(data=frame,values='rating',index='userID',columns='placeID')
places_crosstab.head()

placeID  132560  132561  132564  132572  ...  135104  135106  135108  135109
userID                                   ...
U1001       NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
U1002       NaN     NaN     NaN     NaN  ...     NaN     1.0     NaN     NaN
U1003       NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
U1004       NaN     NaN     NaN     NaN  ...     NaN     2.0     NaN     NaN
U1005       NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN

[5 rows x 130 columns]

In [15]:
tortas_ratings = places_crosstab[135085]
tortas_ratings[tortas_ratings>=0]

userID
U1001    0.0
U1002    1.0
U1007    1.0
U1013    1.0
U1016    2.0
U1027    1.0
U1029    1.0
U1032    1.0
U1033    2.0
U1036    2.0
U1045    2.0
U1046    1.0
U1049    0.0
U1056    2.0
U1059    2.0
U1062    0.0
U1077    2.0
U1081    1.0
U1084    2.0
U1086    2.0
U1089    1.0
U1090    2.0
U1092    0.0
U1098    1.0
U1104    2.0
U1106    2.0
U1108    1.0
U1109    2.0
U1113    1.0
U1116    2.0
U1120    0.0
U1122    2.0
U1132    2.0
U1134    2.0
U1135    0.0
U1137    2.0
Name: 135085, dtype: float64

**Evaluating Similarity based on Correlation**

In [17]:
similar_to_tortas = places_crosstab.corrwith(tortas_ratings)   
'''returns matrix'''
'''converting matrix into df'''
corr_tortas = pd.DataFrame(similar_to_tortas,columns=['PearsonR'])
corr_tortas.dropna(inplace=True)
corr_tortas.head()

/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2551: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2480: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

         PearsonR
placeID
132572  -0.428571
132723   0.301511
132754   0.930261
132825   0.700745
132834   0.814823

In [19]:
tortas_core_summary = corr_tortas.join(rating['rating_count'])

In [20]:
tortas_core_summary[tortas_core_summary['rating_count']>=10].sort_values('PearsonR',ascending=False).head()

         PearsonR  rating_count
placeID
135076   1.000000            13
135085   1.000000            36
135066   1.000000            12
132754   0.930261            13
135045   0.912871            13

I want to point out these places here that have a Pearson R value of one though. These Pearson R values of one aren't meaningful here. The reason you're seeing these is because for those places, there was only one user who gave a review to both places. That user gave both places the same score. Which is why you're seeing a Pearson R value of one. But a correlation that's based on similarities between only one review rating, that's not meaningful. The places need to have more than one reviewer in common. So we'll throw those places out. So now let's take the top seven correlated results that remain and see if any of these places also serve fast food.

In [23]:
places_corr_tortas = pd.DataFrame([135076,135085,135066,132754,135045,135062,135028,135042,135046],index=np.arange(9),columns=['placeID'])
summary = pd.merge(places_corr_tortas,cuisine,on='placeID')
summary

   placeID   Rcuisine
0   135085  Fast_Food
1   132754    Mexican
2   135028    Mexican
3   135042    Chinese
4   135046  Fast_Food

In [25]:
places[places['placeID']==135046]

    placeID                     name
42   135046  Restaurante El Reyecito

In [26]:
cuisine['Rcuisine'].describe()

count         916
unique         59
top       Mexican
freq          239
Name: Rcuisine, dtype: object