<a href="https://colab.research.google.com/github/sundarp17/Recommendation-Systems/blob/main/machine_learning/content_based_recommender_systems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nearest Neighbor Algorithm

In [1]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.neighbors import NearestNeighbors

In [15]:
cars = pd.read_csv(r'/content/mtcars.csv')
cars.head()

          Unnamed: 0   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2         Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2

[5 rows x 12 columns]

In [16]:
cars = cars.rename(columns={'Unnamed: 0':'Car_names'})

In [17]:
cars.head()

           Car_names   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2         Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2

[5 rows x 12 columns]

So imagine that a customer walks in and tells you that he's looking for a car that weighs 3.2 tons, gets at least 15 miles per gallon, has an engine with a displacement size of 300 cubic inches, and a power of 160 horsepower.

In [21]:
c = [15,300,160,3.2]

x = cars.loc[:,('mpg','disp','hp','wt')].values
x[0:5]

array([[ 21.   , 160.   , 110.   ,   2.62 ],
       [ 21.   , 160.   , 110.   ,   2.875],
       [ 22.8  , 108.   ,  93.   ,   2.32 ],
       [ 21.4  , 258.   , 110.   ,   3.215],
       [ 18.7  , 360.   , 175.   ,   3.44 ]])

In [22]:
nbrs = NearestNeighbors(n_neighbors=1).fit(x)

In [23]:
nbrs.kneighbors([c])

(array([[10.77474942]]), array([[22]]))

In [26]:
cars[22:23]

      Car_names   mpg  cyl   disp   hp  drat     wt  qsec  vs  am  gear  carb
22  AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.3   0   0     3     2