<a href="https://colab.research.google.com/github/sundarp17/Recommendation-Systems/blob/main/machine_learning/user_based_collaborative_recommendation_systems_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Machine Learning Based Recommendation Systems**

Classification based collaborative filtering systems(user-based)

classifier - Logistic Regression

In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression

We want to check the model can predict whether client will take new policy based on other users and older transactions

In [2]:
bank_full = pd.read_csv(r'/content/bank_full_w_dummy_vars.csv')
bank_full.head()

   age  ... divorced
0   58  ...                            0
1   44  ...                            1
2   33  ...                            0
3   47  ...                            0
4   33  ...                            1

[5 rows x 37 columns]

In [3]:
bank_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 37 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   age                           45211 non-null  int64
 1   job                           45211 non-null  object
 2   marital                       45211 non-null  object
 3   education                     45211 non-null  object
 4   default                       45211 non-null  object
 5   balance                       45211 non-null  int64
 6   housing                       45211 non-null  object
 7   loan                          45211 non-null  object
 8   contact                       45211 non-null  object
 9   day                           45211 non-null  int64
 10  month                         45211 non-null  object
 11  duration                      45211 non-null  int64
 12  campaign                      45211 non-null  int64
 13  pdays                         45211 non-null  int64
 14  previous                      45211 non-null  int64
 15  poutcome                      45211 non-null  object
 16  y                             45211 non-null  object
 17  y_binary                      45211 non-null  int64
 18  housing_loan                  45211 non-null  int64
 19  credit_in_default             45211 non-null  int64
 20  personal_loans                45211 non-null  int64
 21  prev_failed_to_subscribe      45211 non-null  int64
 22  prev_subscribed               45211 non-null  int64
 23  job_management                45211 non-null  int64
 24  job_tech                      45211 non-null  int64
 25  job_entrepreneur              45211 non-null  int64
 26  job_bluecollar                45211 non-null  int64
 27  job_unknown                   45211 non-null  int64
 28  job_retired                   45211 non-null  int64
 29  job_services                  45211 non-null  int64
 30  job_self_employed             45211 non-null  int64
 31  job_unemployed                45211 non-null  int64
 32  job_maid                      45211 non-null  int64
 33  job_student                   45211 non-null  int64
 34  married                       45211 non-null  int64
 35  single                        45211 non-null  int64
 36  divorced                      45211 non-null  int64
dtypes: int64(27), object(10)
memory usage: 12.8+ MB

In [36]:
X = bank_full.iloc[:,18:37].values

In [37]:
X

array([[1, 0, 0, ..., 1, 0, 0],
       [1, 0, 0, ..., 0, 1, 1],
       [1, 0, 1, ..., 1, 0, 0],
       ...,
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 1, 0, 0]])

In [38]:
y = bank_full.iloc[:,17].values

In [39]:
logreg = LogisticRegression()
model = logreg.fit(X,y)

user name - Sam

sam is a single divorcee who works in management and is not in credit default. He doesn't have a home loan or any other personal loans. Also, no one from the marketing department has ever solicited to him before. Let's break this down into a list of user attributes for Sam. We know that he works in management, so the variable of job_management would be equal to 1. 
-------------------------------------------------------------------
He's single, so the variable single would be equal to 1. 
----------------------------------------------------------------------
He's a divorcee, so divorced also equal to 1. 
------------------------------------------------------------------------
He doesn't have a housing loan at this time, so housing loan would be equal to 0. 
---------------------------------------------------------------------------
He's not in credit default, so credit_in_default is also equal to 0. And he doesn't have any personal loans, so personal_loans would be equal to 0. 
---------------------------------------------------------------------
What we do in order to represent Sam as a test point is we create a list that captures all of these binary values for each of the variables that describe him.

In [40]:
'''sam = new user'''

new_user = [[0 ,0 ,0 ,0 ,0 ,1 ,0 ,0 ,0 ,0 ,0 ,0 ,0 ,0 ,0 ,0 ,0 ,1 ,1]]

y_pred = model.predict(new_user)
y_pred

array([0])

model is recommending he wont take the loan.